*{
  padding: 0;
  margin: 0;
}
#app,body{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
/* body{
background-image: url('../backimg.jpg');
background-size:cover;
} */